{% comment %}
*  This loops through the paginated posts
*
*  Total posts: {{ paginator.total_posts }}
*  Total paginate-pages: {{ paginator.total_pages }}
*
{% endcomment %}

{% for post in paginator.posts %}
  <div class="row">
    <div class="small-12 columns b15">

      <p class="news-item">
        <span class="news-date">
          {{ post.date | date: "%b %Y" }}
        </span>

        &nbsp;—&nbsp;

        <a href="{{ post.redirect_to | default: post.url }}">
          {{ post.title }}
        </a>
      </p>

    </div>
  </div>
{% endfor %}

<nav id="pagination">

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a rel="prev" class="radius button small"
         href="{{ site.url }}{{ site.baseurl }}/news/"
         title="Newer posts">
         &laquo; Newer
      </a>
    {% else %}
      <a rel="prev" class="radius button small"
         href="{{ site.url }}{{ site.baseurl }}/news/page{{ paginator.previous_page }}/"
         title="Newer posts">
         &laquo; Newer
      </a>
    {% endif %}
  {% endif %}

  {% if paginator.next_page %}
    <a rel="next" class="radius button small"
       href="{{ site.url }}{{ site.baseurl }}/news/page{{ paginator.next_page }}/"
       title="Older posts">
       Older &raquo;
    </a>
  {% endif %}

</nav>
